@import "tailwindcss";
@import "tw-animate-css";

@source '../node_modules/layerchart/dist';
@custom-variant dark (&:is(.dark *));

::-webkit-scrollbar {
	height: 7px;
	width: 10px;
	border: 1px solid var(--color-background);
}

::-webkit-scrollbar-track {
	border-radius: 20px;
	background: var(--color-background);
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	background: var(--accent);
}

:root {
	--background: hsl(0 0% 100%);
	--foreground: hsl(240 10% 3.9%);
	--muted: hsl(240 4.8% 95.9%);
	--muted-foreground: hsl(240 3.8% 46.1%);
	--popover: hsl(0 0% 100%);
	--popover-foreground: hsl(240 10% 3.9%);
	--card: hsl(0 0% 100%);
	--card-foreground: hsl(240 10% 3.9%);
	--border: hsl(240 5.9% 90%);
	--input: hsl(240 5.9% 90%);
	--primary: hsl(0 0% 100%);
	--primary-foreground: hsl(0 0% 98%);
	--secondary: hsl(36, 11%, 53%);
	--secondary-foreground: hsl(240 5.9% 10%);
	--accent: hsl(37, 38%, 80%);
	--accent-foreground: hsl(240 5.9% 10%);
	--destructive: hsl(0 72.2% 50.6%);
	--destructive-foreground: hsl(0 0% 98%);
	--ring: hsl(240 10% 3.9%);
	--sidebar: hsl(0 0% 98%);
	--sidebar-foreground: hsl(240 5.3% 26.1%);
	--sidebar-primary: hsl(240 5.9% 10%);
	--sidebar-primary-foreground: hsl(0 0% 98%);
	--sidebar-accent: hsl(240 4.8% 95.9%);
	--sidebar-accent-foreground: hsl(240 5.9% 10%);
	--sidebar-border: hsl(220 13% 91%);
	--sidebar-ring: hsl(217.2 91.2% 59.8%);
	--sign: hsl(140, 100%, 38%);
	--zen: hsl(34, 100%, 38%);
	--radius: 0.5rem;
}

.dark {
	--sign: hsl(140, 100%, 38%);
	--background: hsl(216, 18.07%, 16.27%);
	--foreground: hsl(0 0% 98%);
	--foregroundAlt: hsl(0 0% 2%);
	--muted: hsl(240 3.7% 15.9%);
	--primary: hsl(216.92, 10.24%, 24.9%);
	--secondary: hsl(182.65, 100%, 35.49%);
	--accent: hsl(177.65, 100%, 50%);
	--destructive: hsl(0 62.8% 30.6%);

	--tronBackround: hsl(216, 18.07%, 16.27%);
	--tronPrimary: hsl(216.92, 10.24%, 24.9%);
	--tronSecondary: hsl(182.65, 100%, 35.49%);
	--tronAccent: hsl(177.65, 100%, 50%);

	--forestBackround: hsl(52.42, 76%, 75.49%);
	--forestPrimary: hsl(67.72, 47.87%, 58.63%);
	--forestSecondary: hsl(105, 22.81%, 44.71%);
	--forestAccent: hsl(151.07, 36.36%, 30.2%);

	--windowsBackround: hsl(201.5, 59.41%, 60.39%);
	--windowsPrimary: hsl(56.73, 96.49%, 88.82%);
	--windowsSecondary: hsl(0, 100%, 85.29%);
	--windowsAccent: hsl(5.55, 74.25%, 54.31%);

	--chart1: hsl(183, 100%, 50%);
	--chart2: hsl(25, 100%, 50%);
	--chart3: hsl(190, 100%, 94%);
	--chart4: hsl(305, 100%, 50%);
	--chart5: hsl(167, 100%, 50%);
	--save: hsl(140, 100%, 38%);

	font-family: "Balsamiq Sans", system-ui;
}

:root[data-theme="windowsTheme"] {
	--sign: hsl(120, 73%, 35%);
	--background: hsl(201.5, 59.41%, 60.39%);
	--foreground: hsl(0, 0%, 2%);
	--muted: hsl(10, 40%, 50%);
	--primary: hsl(56.73, 96.49%, 88.82%);
	--secondary: hsl(0, 100%, 85.29%);
	--accent: hsl(5.55, 74.25%, 54.31%);
	--destructive: hsl(0 62.8% 30.6%);
	font-family: "VT323", monospace;

	--chart1: hsl(201, 60%, 62%);
	--chart2: hsl(10, 40%, 55%);
	--chart3: hsl(57, 95%, 78%);
	--chart4: hsl(0, 90%, 70%);
	--chart5: hsl(6, 75%, 54%);
	--save: hsl(120, 73%, 35%);
}

:root[data-theme="forestTheme"] {
	--sign: hsl(140, 100%, 38%);
	--background: hsl(52.42, 76%, 75.49%);
	--foreground: hsl(0 0% 98%);
	--foregroundAlt: hsl(0 0% 98%);
	--muted: hsl(240 3.7% 15.9%);
	--primary: hsl(67.72, 47.87%, 58.63%);
	--secondary: hsl(105, 22.81%, 44.71%);
	--accent: hsl(151.07, 36.36%, 30.2%);
	--destructive: hsl(0 62.8% 30.6%);

	--chart1: hsl(140, 31%, 75%);
	--chart2: hsl(122, 39%, 85%);
	--chart3: hsl(120, 61%, 95%);
	--chart4: hsl(32, 100%, 86%);
	--chart5: hsl(177, 42%, 79%);
	--save: hsl(140, 100%, 38%);
}

@theme inline {
	/* Radius (for rounded-*) */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-foregroundAlt: var(--foregroundAlt);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--color-radius: var(--radius);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sign: var(--sign);
	--color-chart1: var(--chart1);
	--color-chart2: var(--chart2);
	--color-chart3: var(--chart3);
	--color-chart4: var(--chart4);
	--color-chart5: var(--chart5);

	--color-tronBackround: var(--tronBackround);
	--color-tronPrimary: var(--tronPrimary);
	--color-tronSecondary: var(--tronSecondary);
	--color-tronAccent: var(--tronAccent);

	--color-forestBackround: var(--forestBackround);
	--color-forestPrimary: var(--forestPrimary);
	--color-forestSecondary: var(--forestSecondary);
	--color-forestAccent: var(--forestAccent);

	--color-windowsBackround: var(--windowsBackround);
	--color-windowsPrimary: var(--windowsPrimary);
	--color-windowsSecondary: var(--windowsSecondary);
	--color-windowsAccent: var(--windowsAccent);

	--color-zen: var(--zen);
	--color-save: var(--save);
}

@layer base {
	* {
		@apply border-border;
	}

	body {
		@apply bg-background text-foreground;
	}
}
